#cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    background: #10101D;
    transition: 0.5s;
    & .caption {
      margin: auto;
    }
    .cube-loader {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

    }
    .preloader-logo {
      width: 75px;
      animation: cube 3s infinite alternate;
      @media (max-width: 576.98px){
        width: 20vw;
      }
    }



    
  };
  #cube-loader.done {
    transition: 0.5s;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes cube {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
}
