@media (min-width: 991.98px){
  .rangeslider,
  .rangeslider__fill {
    display: block;
    -moz-border-radius: 0.521vw;
    -webkit-border-radius: 0.521vw;
  }
  
  .rangeslider {
    background: #FFFFFF;
    position: relative;
  }
  
  .rangeslider--horizontal {
    height: 0.417vw;
    background: #FFFFFF;
    width: 100%;
    border-radius: 0vw;
  }
  
  .rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
  
  .rangeslider__fill {
    background: linear-gradient(180deg, #175EC7 0%, #0BC4FF 100%);
    border: 0.052vw solid #4185EA;
    height: 0.417vw;
    border-radius: 0vw;
    position: absolute;
  }
  
  .rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
  }
  
  .rangeslider__handle {
    background: #FFFFFF;
    border: 0.052vw solid #4185EA;
    box-shadow: 0vw 0.156vw 0.208vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 0.911vw;
    height: 0.911vw;
    position: absolute;
    transition: 0.3s transform;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
    transition: 0.3s transform;
    transform: scale(1.15)
   
  }
  .rangeslider--horizontal .rangeslider__handle {
    top: -0.26vw;
    margin-left: 0.052vw;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
  }
  .form__range-data{
    display: flex;
    justify-content: space-between;
    
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 1.563vw;
  }
  .rangeto{
    position: absolute;
    width: 3.646vw;
    transform: translateX(-50%)translateY(-110%);
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 1.563vw;
    color: #FFFFFF;
    }
  
}

//====================================================================================================================================
//====================================================================================================================================


@media (min-width: 576.98px) and (max-width: 991.98px){
  .rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 1.009vw;
  -webkit-border-radius: 1.009vw;
}

.rangeslider {
  background: #FFFFFF;
  position: relative;
}

.rangeslider--horizontal {
  height: 0.807vw;
  background: #FFFFFF;
  width: 100%;
  border-radius: 0vw;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: linear-gradient(180deg, #175EC7 0%, #0BC4FF 100%);
  border: 0.101vw solid #4185EA;
  height: 0.807vw;
  border-radius: 0vw;
  position: absolute;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: #FFFFFF;
  border: 0.101vw solid #4185EA;
  box-shadow: 0vw 0.303vw 0.404vw rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 1.766vw;
  height: 1.766vw;
  position: absolute;
  transition: 0.3s transform;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  transition: 0.3s transform;
  transform: scale(1.15)
 
}
.rangeslider--horizontal .rangeslider__handle {
  top: -0.505vw;
  margin-left: 0.101vw;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.form__range-data{
  display: flex;
  justify-content: space-between;
  
  font-weight: 400;
  font-size: 1.413vw;
  line-height: 3.027vw;
}
.rangeto{
  position: absolute;
  width: 7.064vw;
  transform: translateX(-50%)translateY(-110%);
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.615vw;
  line-height: 3.027vw;
  color: #FFFFFF;
  }

}

//====================================================================================================================================
//====================================================================================================================================

@media (max-width: 576.98px){
  .rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 2.667vw;
  -webkit-border-radius: 2.667vw;
}

.rangeslider {
  background: #FFFFFF;
  position: relative;
}

.rangeslider--horizontal {
  height: 2.133vw;
  background: #FFFFFF;
  width: 100%;
  border-radius: 0vw;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: linear-gradient(180deg, #175EC7 0%, #0BC4FF 100%);
  border: 0.267vw solid #4185EA;
  height: 2.133vw;
  border-radius: 0vw;
  position: absolute;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: #FFFFFF;
  border: 0.267vw solid #4185EA;
  box-shadow: 0vw 0.8vw 1.067vw rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 4.667vw;
  height: 4.667vw;
  position: absolute;
  transition: 0.3s transform;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  transition: 0.3s transform;
  transform: scale(1.15)
 
}
.rangeslider--horizontal .rangeslider__handle {
  top: -1.333vw;
  margin-left: 0.267vw;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.form__range-data{
  display: flex;
  justify-content: space-between;
  
  font-weight: 400;
  font-size: 3.733vw;
  line-height: 8vw;
}
.rangeto{
  position: absolute;
  width: 18.667vw;
  transform: translateX(-50%)translateY(-110%);
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.267vw;
  line-height: 8vw;
  color: #FFFFFF;
  }

}